
.rhap_container {
    background-image: linear-gradient(to right,  #41295a, #2f0743) ;
}

.player-component{
  position: fixed;
  bottom: 0;
  width: 100%;
 
}

.MuiSlider-root:hover .MuiSlider-thumb{
    display: flex;
}
