.App {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app-main {
  text-align: center;
}

.app-footer {
  /* height: 200px; */
}

input {
  color: #ffff !important;
  font-weight: bold !important;
}