.App{
  background-image:linear-gradient(to right bottom, #FE0C6B, #29055E);
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  

}
.App-header{
  text-align: center;
}

.app-main{
  text-align: center;
}

.app-footer{
  height: 200px;
}

input{
  color: whitesmoke !important;
  font-weight: bold !important;
}
